<section class="services text-center px-6 py-12 bg-gradient-to-r from-[#0E1C2C] to-[#897648] text-white shadow-lg">
    <h2 class="text-3xl font-semibold mb-8">Nuestros Servicios</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Corte de Cabello -->
      <div class="service-card p-6 bg-white rounded-lg shadow-xl hover:shadow-2xl transform transition-all duration-300 hover:scale-105">
        <h3 class="text-2xl font-bold text-[#0E1C2C] mb-4">Corte de Cabello</h3>
        <p class="text-[#0E1C2C] mb-4">Cortes modernos y personalizados para todas las edades, siempre a la moda.</p>
        <img src="assets/imagenes/corte-cabello.jpg" alt="Corte de Cabello" class="w-full h-64 object-cover rounded-lg shadow-md transform transition-all duration-300 hover:scale-105">
      </div>
      <!-- Coloración -->
      <div class="service-card p-6 bg-white rounded-lg shadow-xl hover:shadow-2xl transform transition-all duration-300 hover:scale-105">
        <h3 class="text-2xl font-bold text-[#0E1C2C] mb-4">Coloración</h3>
        <p class="text-[#0E1C2C] mb-4">Tintes de alta calidad que reflejan tu personalidad y estilo único.</p>
        <img src="assets/imagenes/coloracion.jpg" alt="Coloración" class="w-full h-64 object-cover rounded-lg shadow-md transform transition-all duration-300 hover:scale-105">
      </div>
      <!-- Peinados -->
      <div class="service-card p-6 bg-white rounded-lg shadow-xl hover:shadow-2xl transform transition-all duration-300 hover:scale-105">
        <h3 class="text-2xl font-bold text-[#0E1C2C] mb-4">Peinados</h3>
        <p class="text-[#0E1C2C] mb-4">Desde peinados casuales hasta looks sofisticados para eventos especiales.</p>
        <img src="assets/imagenes/peinado.jpg" alt="Peinados" class="w-full h-64 object-cover rounded-lg shadow-md transform transition-all duration-300 hover:scale-105">
      </div>
    </div>
  </section>
  